version: '3.4'

services:
  print_from_email:
    image: python:latest
    command: python3 runserver_daemon.python
    ports:
      - 8000:8000
    working_dir: /app
    volumes:
      - /var/run/cups:/var/run/cups
    environment:
      - PATH='/.venv/bin:$PATH'
      - LANG=C.UTF-8
      - LC_ALL=C.UTF-8
      - PYTHONDONWRITEBYTECODE=1
      - PYTHONFAULTHANDLER=1
    network_mode: host
    extra_hosts:
      - "${hostname}:${IP_ADDRESS}"